.Homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .CardList {
    margin: auto;
    width: 80%;
  }

  h2 {
    align-self: start;
    padding-left: 2vw;
  }
}
